* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #002b5b;
  color: #ffff;
  padding: 2rem;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  letter-spacing: 1rem;
  font-size: 20px;
}
.span {
  color: #8fe3cf;
}

.fa-solid {
  display: none;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  gap: 3rem;
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: #8fe3cf;
  cursor: pointer;
}

.nav-links :hover {
  color: #256d85;
  text-decoration: underline;
}

@media (max-width: 950px) {
  .fa-solid {
    display: block;
  }

  .nav-links {
    position: fixed;
    margin: 2rem auto;
    width: 50%;
    height: 100vh;
    background-color: #0000008b;
    top: 80px;
    right: -100%;
    text-align: center;
    align-items: center;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    transition: all .5s;
  }
  .nav-links li a {
    font-size: 30px;
    font-weight: bold;
  }
  .nav-links li a:hover{
    color: #256d85;
  }
  .fa-solid,.nav-links li a.active {
    right: 0;
  }
} 
  /* .nav-links{
    position: fixed;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: #0000008b;
    padding: 1rem;
    /* top: 70px; */
  /* height: 40%; */
  /* height: 0;
  overflow: hidden;
  transition: var(--transition);
  } */

  /* .nav-links {
    position: fixed;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #2b486596;
    left: -100%;
    top: 70px;
    width: 40%;
    text-align: center;
    transition: 0.3s;
    padding: 1rem;
  } */
  /* .links a {
    margin: 16px 0;
  }
  
}
